@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

$Helvetica: 'Helvetica Neue', sans-serif;

$bg: #F9FAFB;
$color: #192024;
$borderRadius: 8px;
$boxShadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04);
$border: 1px solid #363f45;

@mixin breakpoint($point) {
  @if $point == xs{
    @media(max-width: 450px){
      @content;
    }
  }
  @else if ($point == sm){
    @media(max-width: 575px){
      @content;
    }
  }
  @else if($point == md){
    @media(max-width: 780px){
      @content;
    }
  }
  @else if($point == lg){
    @media(max-width: 992px){
      @content;
    }
  }
}
