@import './variables.scss';

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
}

body{
  width: 100%;
  font-family: $Helvetica;
  background-color: $bg;
  font-weight: normal;
  font-size: 14px;
  color: $color;
}


#root {
  height: 100%;
}