@import './../../styles/variables.scss';

.container{
  padding: 67px 94px 0 94px;
  @include breakpoint(sm){
    padding: 67px 15px 0 94px;
  }

  @include breakpoint(xs){
    padding: 67px 15px 0 25px;
  }
}