.loader__box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.loader{
  display: inline-block;
  width: 75px;
  height: 75px;
  color: rgb(162, 162, 246);
  vertical-align: middle;
  pointer-events: none;
  border: 10px solid rgb(162, 162, 246);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1s loader linear infinite;
  position: relative;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}