@import './../../styles/variables.scss';


.box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 240px;
  background-color: #ffffff;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  margin: 16px 16px 0 0;
  transition: 0.6s border;
  @include breakpoint(xs){
    margin-right: 0;
  }

  &__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
  }

  &:hover{
    border: $border;
  }

  &__logo{
    margin-right: 18px;

    img{
      width: 32px;
      height: 32px;
    }
  }
  &__body{
    line-height: 24px;
    &_title{
      font-size: 14px;
      font-weight: bold;
    }

    &_alliance, &_phoneNumber{
      font-size: 14px;
      font-weight: normal;
    }

    &_link{
      color: #5a6872;
      text-decoration: none;
    }
  }
}