@import './../../styles/variables.scss';

.main_title{
  font-family: $Helvetica;
  font-size: 44px;
  font-weight: 900;
  color: #000000;
  margin: 0 0 73px 0;
}

.filter__checkbox{
  &__title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 23px;
  }

  &__row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
    max-width: 400px;
    @include breakpoint(sm){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__box{
    margin-right: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include breakpoint(sm){
      margin-top: 15px;
      justify-content: left;
    }
  }

  &__app_field:checked + &__label::after{
    display: block;
  }

  &__app_field {
    display: none;
  }

  &__label{
    position: relative;
    text-transform: none;
    padding-left: 30px;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: $border;
      border-radius: 3px;
    }

    &_symbol::after{
      content: "X";
      display: none;
      position: absolute;
      top: 2px;
      left: 5px;
      width: 15px;
      height: 15px;
      font-weight: 900;
    }
  }
}

.boxes{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 56px;
  margin-bottom: 100px;
}

.error{
  color: red;
  font-size: 50px;
  text-align: center;
  margin: auto;
}
